.footer-background{
    box-shadow: 0 0 2px 1px #c8c8c8;
    
  
  }
  
  .footer-background .container{
  
    text-align: center;
    
  }
  .footer-icon {
    color: #222529;
  }
  
  .footer-icon:hover {
    color: #ff7373;
  }
  
  .footer-background .footer-icons a {
    margin: 7px;
    
  }
  .footer-background .copyright {
    color: #222529;
    text-align: center;
    margin-top: 20px;
  }